<launch>

  <arg name="cam_topic" />
  <arg name="calibration_path" />
  <arg name="marker_calibration_path" />
  <arg name="cam_ident" />
  <arg name="marker_size" default="0.07794" />

  <node name="camera_pub_$(arg cam_ident)"
        pkg="david_cam"
        type="camera_node"
        args="/cameras/rear 5000"
  />

  <node name="camera_img_service_$(arg cam_ident)"
        pkg="david_cam"
        type="camera_img_service"
        args="$(arg cam_topic)"
  />

</launch>
