<launch>
  <arg name="marker_size" default="0.07794" />
  <arg name="calibration_path" default="$(find david_conf)/camera_configs/calibration/rear_cam/rear_calib.yml"/>
  <arg name="marker_calibration_path" default="$(find david_conf)/camera_configs/marker_map_comp_meters.yml"/>
  <!-- Launch Rear Camera -->
  <!-- <include file="$(find david_waypoints)/launch/run_camera.launch"> -->
  <!--     <!-\- all vars that included.launch requires must be set -\-> -->
  <!--     <arg name="cam_topic" value="/cameras/rear" /> -->
  <!--     <arg name="cam_ident" value="rear" /> -->
  <!--     <arg name="calibration_path" -->
  <!--         value="$(arg calibration_path)"/> -->
  <!--     <arg name="marker_calibration_path" -->
  <!--         value="$(arg marker_calibration_path)"/> -->
  <!--     <arg name="marker_size" value="$(arg marker_size)" /> -->

  <!-- </include> -->

  <!-- <!-\- Launch fwd camera -\-> -->
  <!-- <include file="$(find david_waypoints)/launch/run_camera.launch"> -->
  <!--   <!-\- all vars that included.launch requires must be set -\-> -->
  <!--   <arg name="cam_topic" value="/cameras/fwd" /> -->
  <!--   <arg name="cam_ident" value="fwd" /> -->
  <!--   <arg name="calibration_path" -->
  <!--       value="$(arg calibration_path)"/> -->
  <!--   <arg name="marker_calibration_path" -->
  <!--       value="$(arg marker_calibration_path)"/> -->
  <!--   <arg name="marker_size" value="$(arg marker_size)" /> -->

  <!-- </include> -->

  <node name="waypoints"
        pkg="david_waypoints"
        type="waypoints"
        args="/cameras/rear /cameras/fwd $(arg calibration_path) $(arg marker_calibration_path) $(arg marker_size)" />
  
</launch>
