<launch>
  
  <param name="robot_description" command="cat $(find david_conf)/urdf/david.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list">["joints/pitch", "joints/motor_joints"]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
          <param name="use_gui" value="false" />
    </node>

   <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

   <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d /home/shastro/GIT/user/shughes/test_workspace/rviz/urdf.rviz" /> -->
    
   
   </launch>
